@keyframes fade {
  0%{
    opacity: 0;
    padding-top: 3em;
  }
}

@keyframes moveOut {
  0%{
    opacity: 1;

  }
  100%{
    opacity: 0;
    padding-left: 20em;
  }
}

@keyframes slideFade {
  0%{
    opacity: 0;
    padding-left: 3em;
  }
}

:root{
    /*main color*/
  --main-color :#cc6e7f;
  --color-white: #fff;

  /*animation*/
  --fadein-animation : fade 1.2s ease;
  --moveout-animation : moveOut .6s ease-in;
  --slidefade-animation : slideFade 1.2s ease-out;
}

html,
body{
  background-color: var(--main-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bg-color{
  background-color: var(--main-color);
}

.text-main{
  color: var(--main-color);
}

.vertical-bar{
  background-color: var(--main-color);
  height: 1.4em;
  content: "";
  width: .3em;
}

.horizontal-bar{
  background-color: var(--main-color);
  height:.05em;
  content: "";
  width:  20em;

}

.fade-animation{
  animation:var(--fadein-animation);
}

.moveout-animation{
  animation:var(--moveout-animation);
}

.slidefade-animation{
  animation:var(--slidefade-animation);
}