@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body , .container{
  height: 100vh;
  width: 100vw;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

/*container in the top*/
.container-top{
  padding: 3em;
}

.container-controls{
  display: flex;
  flex-direction: column;
}

.container-title >h1{
text-align: center;
margin-bottom: .4em;
font-size: 3em;
}

.container-title >h1 > span:first-of-type{
  color: #ff3939;
}

.container-title >h1 > span:nth-of-type(2){
  color: #66CC66;
}

.container-title >h1 > span:nth-of-type(3){
  color: #FF9966;
}

.container-title >h1 > span:nth-of-type(4){
  color: #ffd0e3;
}

.container-title >h1 > span:nth-of-type(5){
  color: #99d1ff;
}

.container-title >h1 > span:nth-of-type(6){
  color: #ffdb99;
}

.container-title >h1 > span:nth-of-type(7){
  color: #cbfff0;
}

.container-title >h1 > span:nth-of-type(8){
  color: #afc3ff;
}

.container-title >h1 > span:nth-of-type(9){
  color: #d8ffaf;
}

.container-title >h1 > span:nth-of-type(10){
  color: #ffafd6;
}

.container-title >h1 > span:nth-of-type(11){
  color: #aff4ff;
}

.container-title >h1 > span:nth-of-type(11){
  color: #ff2516;
}

.container-title >h1 > span:nth-of-type(12){
  color: #b0eeea;
}

.container-title >h1 > span:nth-of-type(13){
  color: #fff75d;
}
form{
  margin-bottom: 1em;
}

form > input[type="number"]{
  width: 70%;
  font-size: 1em;
  height: 1.7em;
}

form > input[type="submit"]{
  width: 26%;
}


input[type="color"]{
  width: 100%;
}

label{
  font-size: 12px;
  font-weight: bold;
}


.container-controls-btns{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 5px;
}

button , input[type="submit"]{
  padding: 7px;
  border-radius: 5px;
  border: none;
  margin-bottom: 2px;
  color: white;
  background-color: black;
  font-weight: 600;
}

.container-status{
  margin-bottom: 5px;
}




.container-draw{
  height:400px;
 width:400px;
  display: grid;
  overflow: hidden;
}

.container-draw-cube{
  border: .3px solid rgba(0, 0, 0, 0.196);
}



@media only screen and (max-width: 992px) {

  .container-draw{
      height:90vw;
      min-width: 50%;
  }
    
  
}